
nav{

    background-color: rgb(6, 70, 6);
    padding: 5px;

}


nav ul li {

    display: inline-block;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-left: 150px;
    
}

.electrical {

    color: maroon;
    font-size: 32px;

}

.E {
    color: red;
    background-color: #476930;
    padding: 15px;
    font-size: 28px;

}

.E1{
    color: black;
}

.mechanical {
    color: blue;
    font-size: 25px;

}

.M {
    color: aqua;
    padding: 15px;
    background-color: pink;
    font-size: 25px;

}

.M1{
    color: #525888;
}

.civil {

    color: maroon;
    font-size: 20px;

}

.C {
    color:whitesmoke;
    font-size: 18px;
    background-color: black;
    padding: 15px;
}
.C1{
    color: palevioletred;
}
button{
    padding-bottom: 8px;
    color: rgb(189, 4, 4) ;
}
